<h1>Listing Products</h1>

<%= link_to "New product", new_product_path %>

<% @products.each do |product| %>
    <p><%= product.name %> <%= product.description %> <%= product.formatted_price %> </p>
    <% end %>